/* Global styles */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 10px;
    padding: 10px;
    /*
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    */
}

/*Body Styles */
body {
    width: 75%;
    margin: 10px auto;
    padding: 10px;
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    /*
    background-color: #dbd7bb;
    color: #264c2d;
    */
}

/* Navigation styles */
nav ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
}

/* Main content styles */
main {;
    /*
    background-color: #dbd7bb;
    color: #264c2d;
    */
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;

}


.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.content {
    display: flex;
    flex-direction: ;
}

/* Footer styles */
footer {
    padding: 10px;
    /*
    background-color: #dbd7bb;
    color: #264c2d;
    */
}

/*Image Handling*/