/* Global styles */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 10px;
    padding: 10px;
}

/*Dark Mode*/
.dark-mode {
    background-color: #121212;
    color: lightgray;
}

.dark-mode a {
    color: lightgray;
}

.dark-mode a:visited {
    color: lightgray
}

/*Body Styles */
body {
    width: 75%;
    margin: 10px auto;
    padding: 10px;
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    /*
    background-color: #dbd7bb;
    color: #264c2d;
    */
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Navigation styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

nav ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
}

#darkButton {
    background-color: slateblue;
    color: lightgray;
    height: 100%;
    border-radius: 5px;
    margin: 2px;
}

/* Main content styles */
main {
    line-height: 1.5;
    /*
    background-color: #dbd7bb;
    color: #264c2d;
    */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;

}


.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.content {
    display: flex;
    flex-direction: ;
}

/* Footer styles */
footer {
    padding: 10px;
    /*
    background-color: #dbd7bb;
    color: #264c2d;
    */
}

/*Link Handling*/
a {
    color: black;
}

a:visited {
    color: black;
}

/*Mobile Optimization*/

@media screen and (max-width: 768px) {

    #title {
        flex: display;
        
    }


}