/* Global styles */
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

/*Body Styles*/
body {
    width: 75%;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Navigation styles */
nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
}

/* Main content styles */
main {
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}